### NYC Airbnb Prediction - Data Extraction

- [NYC Airbnb Open Data](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data)
- [MTA Subway Stations](https://catalog.data.gov/dataset/mta-subway-stations)

In [13]:
from pathlib import Path

import pandas as pd

pd.set_option("display.max_columns", 100)
pd.set_option("display.float_format", "{:.4f}".format)

### NYC Airbnb Open Data

In [14]:
airbnb_path = Path("../data/raw/AB_NYC_2019.csv")
airbnb_df = pd.read_csv(airbnb_path)

airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.6475,-73.9724,Private room,149,1,9,2018-10-19,0.2100,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.7536,-73.9838,Entire home/apt,225,1,45,2019-05-21,0.3800,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.8090,-73.9419,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.6851,-73.9598,Entire home/apt,89,1,270,2019-07-05,4.6400,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.7985,-73.9440,Entire home/apt,80,10,9,2018-11-19,0.1000,1,0

In [15]:
airbnb_df.shape

(48895, 16)

In [16]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [17]:
airbnb_df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,48895.0000,NaN,NaN,NaN,19017143.2362,10983108.3856,2539.0000,9471945.0000,19677284.0000,29152178.5000,36487245.0000
name,48879,47905,Hillside Hotel,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_id,48895.0000,NaN,NaN,NaN,67620010.6466,78610967.0327,2438.0000,7822033.0000,30793816.0000,107434423.0000,274321313.0000
host_name,48874,11452,Michael,417,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood_group,48895,5,Manhattan,21661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood,48895,221,Williamsburg,3920,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,48895.0000,NaN,NaN,NaN,40.7289,0.0545,40.4998,40.6901,40.7231,40.7631,40.9131
longitude,48895.0000,NaN,NaN,NaN,-73.9522,0.0462,-74.2444,-73.9831,-73.9557,-73.9363,-73.7130
room_type,48895,3,Entire home/apt,25409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,48895.0000,NaN,NaN,NaN,152.7207,240.1542,0.0000,69.0000,106.0000,175.0000,10000.0000
minimum_nights,48895.0000,NaN,NaN,NaN,7.0300,20.5105,1.0000,1.0000,3.0000,5.0000,1250.0000
number_of_reviews,48895.0000,NaN,NaN,NaN,23.2745,44.5506,0.0000,1.0000,5.0000,24.0000,629.0000
last_review,38843,1764,2019-06-23,1413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews_per_month,38843.0000,NaN,NaN,NaN,1.3732,1.6804,0.0100,0.1900,0.7200,2.0200,58.5000
calculated_host_listings_count,48895.0000,NaN,NaN,NaN,7.1440,32.9525,1.0000,1.0000,1.0000,2.0000,327.0000
availability_365,48895.0000,NaN,NaN,NaN,112.7813,131.6223,0.0000,0.0000,45.0000,227.0000,365.0000

### MTA Subway Stations

In [18]:
mta_stations_path = Path("../data/external/MTA_Subway_Stations.csv")
mta_stations_df = pd.read_csv(mta_stations_path)
mta_stations_df.head()

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,127,317,611,IRT,Broadway - 7Av,Times Sq-42 St,M,True,1 2 3,Subway,40.7553,-73.9875,Uptown,Downtown,1,1,1,NaN,POINT (-73.987495 40.75529)
1,S17,515,515,SIR,Staten Island,Annadale,SI,False,SIR,Open Cut,40.5405,-74.1782,Ferry,South Shore,0,0,0,NaN,POINT (-74.178217 40.54046)
2,S01,139,627,BMT,Franklin Shuttle,Franklin Av,Bk,False,S,Elevated,40.6806,-73.9558,Last Stop,Prospect Park,1,1,1,NaN,POINT (-73.955827 40.680596)
3,254,349,349,IRT,Eastern Pky,Junius St,Bk,False,3,Elevated,40.6635,-73.9024,Manhattan,New Lots,0,0,0,NaN,POINT (-73.902447 40.663515)
4,M01,108,108,BMT,Myrtle Av,Middle Village-Metropolitan Av,Q,False,M,Elevated,40.7114,-73.8896,Inbound,Last Stop,1,1,1,NaN,POINT (-73.889601 40.711396)

In [19]:
mta_stations_df.shape

(496, 19)

In [20]:
mta_stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GTFS Stop ID           496 non-null    object
 1   Station ID             496 non-null    int64
 2   Complex ID             496 non-null    int64
 3   Division               496 non-null    object
 4   Line                   496 non-null    object
 5   Stop Name              496 non-null    object
 6   Borough                496 non-null    object
 7   CBD                    496 non-null    bool
 8   Daytime Routes         496 non-null    object
 9   Structure              496 non-null    object
 10  GTFS Latitude          496 non-null    float64
 11  GTFS Longitude         496 non-null    float64
 12  North Direction Label  496 non-null    object
 13  South Direction Label  496 non-null    object
 14  ADA                    496 non-null    int64
 15  ADA Northbound         496 non-null    int64
 16  ADA Southbound         496 non-null    int64
 17  ADA Notes              8 non-null      object
 18  Georeference           496 non-null    object
dtypes: bool(1), float64(2), int64(5), object(11)
memory usage: 70.4+ KB